body {
  background: linear-gradient(
    to right,
    #ffffff 0%,
    #ffffff 1%,
    #f4f4f4 1%,
    #f4f4f4 49%,
    #ffffff 49%,
    #ffffff 100%
  );
  font-family: "Open Sans", sans-serif;
}

body > section {
  box-shadow: inset 0 -25px 50px -25px rgba(0, 0, 0, 0.4),
    1px 10px 10px -5px rgba(0, 0, 0, 0.3);
  padding: 65px 70px 65px;
}

/* SECTION ABOUT ME */
#about-me {
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.dane {
  grid-row: 1 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#portfolio-image {
  width: 40%;
  height: auto;
  margin-top: 20px;
}

.dane > h2 {
  margin-top: 20px;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 1.5rem;
}
.dane > p {
  margin-top: 3px;
  font-weight: 300;
  font-size: 1rem;
}

.links-about-me {
  grid-row: 2 / span 1;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
.links-about-me > button {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  place-self: center;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media > img,
.contact-social img {
  width: 30px;
  height: 30px;
  margin: 20px;
}

.right-text {
  grid-row: 1 / span 1;
  grid-column: 2 / span1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr;
}

.right-text > h2 {
  grid-row: 1 / span 1;
  font-size: 2.5rem;
  width: 80%;
  justify-self: center;
  align-self: end;
  margin-bottom: 0px;
}
.right-text > p {
  grid-row: 2 / span 1;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 33px;
  width: 80%;
  justify-self: center;
}

.right-buttons {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 70px;
}

.right-buttons > .resume-btn {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  place-self: center;
}
.right-buttons > .portfolio-btn {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  place-self: center;
}

#about-me button,
.interests-showcase > div > button,
#contact button {
  background-color: rgb(46, 46, 46);
  color: whitesmoke;
  padding: 10px 70px;
  font-weight: 600;
  border: none;
}

/* SECTION PORTFOLIO*/

.portfolio-showcase {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.portfolio-showcase > img {
  width: 250px;
}
#portfolio > h2 {
  font-size: 2.5rem;
}

.portfolio-showcase > .showcase1 {
  flex: 1;
}
.portfolio-showcase > .showcase2 {
  flex: 1;
}
.portfolio-showcase > .showcase3 {
  flex: 1;
}

/* SECTION RESUME */
#resume {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr;
}
#resume > h2,
#resume h3 {
  margin: 10px 0 10px 0;
  font-size: 2.5rem;
}

#resume h3 {
  font-weight: 300;
  margin-bottom: 5px;
  margin-top: 20px;
}
#resume > h2 {
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
}
#resume li {
  font-size: 1rem;
}

.education {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
}
.education > hr {
  width: 40%;
  margin: 30px 20px 20px 30px;
}

.work {
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
}
.education,
.work {
  padding-right: 50px;
}
.skills {
  grid-row: 2 / span 2;
  grid-column: 2 / span 1;
  padding-left: 50px;
}

/* SECTION INTERESTS*/

#interests > h2 {
  font-size: 2.5rem;
  margin-top: 0px;
}

.interests-showcase > div > img {
  width: 300px;
  height: 250px;
  object-fit: cover;
  object-position: center;
}
.interests-showcase {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: space-between;
}

.interests-showcase > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.interests-dog > p {
  text-align: center;
}
.interests-sewing > button {
  margin-top: 16px;
}

/*SECTION CONTACT*/
#contact h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.contact-info p {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 100px;
}
#contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, auto);
}
.contact-info {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer {
  grid-row: 2 / span 2;
  grid-column: 1 / span 1;
  align-self: end;
}

@media (max-width: 992px) {
  /*MEDIA SECTION ABOUT-ME*/
  #about-me {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }
  #about-me > *:not(:nth-child(1)):not(:nth-child(3)):not(:last-child) {
    box-shadow: 0px 2px 8px -6px rgba(0, 0, 0, 0.3);
    padding-bottom: 15px;
  }
  .dane {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
  }
  .links-about-me {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
  }
  .right-text {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
  }
  .right-buttons {
    grid-row: 4 / span 1;
    grid-column: 1 / span 1;
  }

  /*MEDIA SECTION PORTFOLIO*/
  .portfolio-showcase {
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  /*MEDIA SECTION INTERESTS*/
  .interests-showcase {
    display: flex;
    flex-direction: column;
  }

  /*MEDIA SECTION CONTACT*/
  #contact {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
  }
  .contact-info {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
  }
  #footer {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
  }
}

@media (max-width: 555px) {
  /* MEDIA SECTION RESUME*/
  #resume {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr auto auto auto;
  }
  #resume > h2 {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
  }
  #resume h3 {
    font-size: 2rem;
  }
  .education {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
  }

  .education > hr {
    display: none;
  }
  .work {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
  }
  .education,
  .work {
    padding-right: 0;
  }
  .skills {
    grid-row: 4 / span 1;
    grid-column: 1 / span 1;
    padding-left: 0;
  }
  /* MEDIA SECTION ABOUT-ME*/
  .right-buttons {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
